<h2>Patient</h2>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'sign up', new_user_registration_path %>
<h2>Doctor</h2>
<%= link_to 'Login', new_doctor_session_path %>
<%= link_to 'sign up', new_doctor_registration_path %>